aliases:
    # Workflow filters
    - &filter-only-master
      branches:
        only: master

defaults: &defaults
    working_directory: ~/plugin
    docker:
        - image: circleci/node:12.13-buster

version: 2
jobs:
    build_plugin:
        <<: *defaults
        steps:
            - checkout
            - restore_cache:
                name: Restore Yarn Package Cache
                keys: 
                    - yarn-packages-{{ checksum "yarn.lock" }}
            - run:
                name: Pull Packages
                command: yarn install --pure-lockfile
            - run:
                name: Prepare directory for build
                command: |
                    if [ ! -d 'ci' ]; then
                        mkdir -pv ci/jobs/build_plugin/dist
                    fi

                    #
                    # copy external libraries
                    #
                    [ -d 'src/lib' ] && cp -r src/lib ci/jobs/build_plugin/dist
                
                    #
                    # copy dashboards
                    #
                    if [ -d 'src/dashboards' ]; then
                        cp -r src/dashboards ci/jobs/build_plugin/dist
                    fi
            - run:
                name: Run Toolkit Build
                command: |
                    npx grafana-toolkit plugin:ci-build
                    npx grafana-toolkit plugin:ci-build --finish
            - save_cache:
                name: Save Yarn Package Cache
                paths: 
                    - node_modules
                key: yarn-packages-{{ checksum "yarn.lock" }}
            - persist_to_workspace:
                root: .
                paths: 
                    - ci
    build_backend:
        <<: *defaults
        steps:
            - checkout
            - restore_cache:
                keys:
                    - yarn-packages-{{ checksum "yarn.lock" }}
            - run:
                name: Pull Packages
                command: yarn install --pure-lockfile
            - run:
                name: Compile Backend
                command: |
                    [ -d "ci" ] || mkdir ci
                    if [ -d 'pkg' ]; then
                        echo 'export PATH=$HOME/go/bin:/usr/local/go/bin:$PATH' >> $BASH_ENV
                        source $BASH_ENV

                        cd /tmp

                        # Install Go
                        curl -fLO https://dl.google.com/go/go1.14.linux-amd64.tar.gz
                        echo 08df79b46b0adf498ea9f320a0f23d6ec59e9003660b4c9c1ce8e5e2c6f823ca go1.14.linux-amd64.tar.gz | sha256sum --check --status
                        sudo tar -C /usr/local -xf go1.14.linux-amd64.tar.gz

                        # Install golangci-lint
                        curl -fLO https://github.com/golangci/golangci-lint/releases/download/v1.23.7/golangci-lint-1.23.7-linux-amd64.tar.gz
                        echo 34df1794a2ea8e168b3c98eed3cc0f3e13ed4cba735e4e40ef141df5c41bc086 golangci-lint-1.23.7-linux-amd64.tar.gz | sha256sum --check --status
                        tar xf golangci-lint-1.23.7-linux-amd64.tar.gz
                        sudo mv golangci-lint-1.23.7-linux-amd64/golangci-lint /usr/local/bin

                        # Install Mage
                        mkdir -p ~/go/bin
                        git clone https://github.com/magefile/mage.git
                        cd mage
                        go run bootstrap.go

                        mage -v buildAll
                        mage -v lint
                        mage -v coverage
                        npx grafana-toolkit plugin:ci-build --finish
                    else
                        echo "No packend plugin detected. Skipped."
                    fi
            - save_cache:
                paths:
                    - node_modules
                key: yarn-packages-{{ checksum "yarn.lock" }}
            - persist_to_workspace:
                root: .
                paths:
                    - ci
    build_docs:
        <<: *defaults
        steps:
            - checkout
            - restore_cache:
                keys:
                    - yarn-packages-{{ checksum "yarn.lock" }}
            - run:
                name: Install dependencies
                command: |
                    yarn install --pure-lockfile
            - run:
                name: Build Docs
                command: |
                    [ -d "ci" ] || mkdir ci
                    npx grafana-toolkit plugin:ci-docs
            - save_cache:
                paths:
                    - node_modules
                key: yarn-packages-{{ checksum "yarn.lock" }}
            - persist_to_workspace:
                root: .
                paths:
                    - ci
    package:
        <<: *defaults
        steps:
            - checkout
            - attach_workspace:
                at: .
            - restore_cache:
                keys: 
                    - yarn-packages-{{ checksum "yarn.lock" }}
            - run:
                name: Pull Packages
                command: yarn install --pure-lockfile
            - run:
                name: Package Distribution
                command: npx grafana-toolkit plugin:ci-package
            - persist_to_workspace:
                root: .
                paths:
                    - ci/jobs/package
                    - ci/packages
                    - ci/dist
                    - ci/grafana-test-env

    test_integration:
        <<: *defaults
        docker:
            - image: circleci/node:10-browsers
        steps:
            - checkout
            - attach_workspace:
                at: .
            - restore_cache:
                keys:
                    - yarn-packages-{{ checksum "yarn.lock" }}
            - run:
                name: Setup Grafana (local install)
                command: |
                    wget https://dl.grafana.com/oss/release/grafana_6.5.1_amd64.deb
                    sudo apt-get install -y adduser libfontconfig1
                    sudo dpkg -i grafana_6.5.1_amd64.deb
                    sudo apt-get install locate
                    sudo updatedb
                    sudo locate grafana
                    sudo cat /etc/grafana/grafana.ini
                    sudo echo ------------------------
                    sudo cp ci/grafana-test-env/custom.ini /usr/share/grafana/conf/custom.ini
                    sudo cp ci/grafana-test-env/custom.ini /etc/grafana/grafana.ini
                    sudo service grafana-server start
                    sudo grafana-cli --version
            - run:
                name: Run e2e tests
                command: npx grafana-toolkit plugin:ci-test
            - persist_to_workspace:
                root: .
                paths: [ ci/jobs/test_integration ]
            - store_test_results:
                path: ci/jobs/test_integration
            - store_artifacts:
                path: ci/jobs/test_integration

    test_backend:
        <<: *defaults
        docker:
        - image: circleci/golang:1.13.5
        steps:
        - checkout
        - run:
            name: backend test
            command: |
                go test -covermode=count -coverprofile=count.out fmt ./...
                go test -v -coverpkg=./... --coverprofile=coverage.out ./...
                go test ./... -coverprofile cover.out; go tool cover -func cover.out

    publish_github_release:
        <<: *defaults
        steps:
            - checkout
            - attach_workspace:
                at: .
            - restore_cache:
                keys:
                    - yarn-packages-{{ checksum "yarn.lock" }}
            - add_ssh_keys:
                fingerprints:
                    - "85:08:98:8e:6c:33:1c:e9:02:d0:eb:be:52:d7:d4:7d"
            - run:
                name: Pull Packages
                command: yarn install --pure-lockfile
            - attach_workspace:
                at: .
            - run:
                name: "Publish Release on GitHub"
                command: |
                    export GITHUB_TOKEN=6ebdfd4ddbc957525a69facdd39072d2fff1a932
                    npx grafana-toolkit plugin:github-publish --verbose
    report:
        <<: *defaults
        steps:
            - checkout
            - attach_workspace:
                at: .
            - restore_cache:
                keys:
                    - yarn-packages-{{ checksum "yarn.lock" }}
            - run:
                name: Publish Github Release
                command: |
                    npx grafana-toolkit plugin:ci-report
workflows:
    version: 2
    plugin_workflow:
        jobs:
            - build_plugin
            - build_backend
            - build_docs
            - package:
                requires:
                    - build_plugin
                    - build_backend
                    - build_docs
            - test_integration:
                requires:
                    - package
            - report:
                requires:
                    - test_integration
            - approve_release:
                type: approval
                requires:
                    - report
                filters: *filter-only-master
            - publish_github_release:
                requires:
                    - approve_release
                filters: *filter-only-master
            - publish_to_s3:
                requires:
                    - publish_github_release
                filters: *filter-only-master